// PRIMARY-COLOR
$primary-color:#000000;
// SECOND-Color
$blue:#377DFF;
$green:#38CB89;
$orange:#FFAB00;
$red:#FF5630;
// NEUTRAL-coloR
$color-07:#141718;
$color-06:#232627;
$color-05:#343839; 
$color-04:#6C7275;
$color-03:#E8ECEF;
$color-02:#F3F5F7;
$color-01:#FEFEFE;
