/* STYLES FOR HEADER PAGE */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.wrap-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid #46a35880;
  padding-top: 31px;
  padding-bottom: 20px;
  margin-bottom: 12px;
}
.nav-links {
  display: flex;
  gap: 50px;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  margin-right: 140px;
}
.menu-link {
  color: #3d3d3d;
}
.menu-link:hover {
  color: #3d3d3d;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  border-bottom: 3px solid #46a358;
  padding-bottom: 25px;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46a358;
  color: #ffffff;
  gap: 4px;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}
.description {
  display: flex;
  flex-direction: column;
  max-width: 536px;
  margin-left: 40px;
}
.header-title {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  text-transform: uppercase;
  margin-left: 3px;
  margin-bottom: 7px;
}
.main-title {
  font-family: Cera Pro;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.planet {
  color: #46a358;
}
.header-text {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727272;
  margin-left: 3px;
  margin-top: 5px;
}
.shop-now {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #46a358;
  width: 140px;
  height: 40px;
  top: 325px;
  left: 41px;
  border-radius: 6px;
  margin-top: 44px;
}

/* STYLES FOR MAIN PAGE (ASIDE + PRODUCT-CARDS) */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbfbfb;
  max-width: 310px;
}
.categories {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #3d3d3d;
  margin-left: 18px;
  margin-top: 14px;
  margin-bottom: 7px;
}
.aside-all-links {
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  margin-left: 30px;
}
.aside-link {
  color: #3d3d3d;
}
.aside-link:hover {
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  color: #46a358;
}
.super-sale {
  margin-top: 377px;
}
.product-all-links {
  display: flex;
  gap: 37px;
}
.product-link,
.sort-link,
.sort-product {
  color: #3d3d3d;
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
.sort-link {
  display: flex;
  flex-direction: column;
}
.product-link:hover {
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: #46a358;
  border-bottom: 2px solid #46a358;
}
.sort-list {
  display: flex;
  gap: 8px;
}
.product-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 31px;
  margin-left: 47px;
}
.product-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 70px;
  margin-left: 47px;
}
.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  height: 300px;
}
.product-card:hover {
  border-top: 1px solid #46a358;
}
.product-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  position: relative;
  top: -90px;
  left: 60px;
  opacity: 0;
}
.shopping,
.heart,
.search {
  background-color: #ffffff;
  padding: 6px 7px 6px 8px;
  border-radius: 4px;
}

.product-frame:hover {
  opacity: 1;
}
.product-wrap {
  display: flex;
  flex-direction: column;
}
.product-name {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d3d;
  margin-top: 12px;
}
.product-price {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #46a358;
  margin-top: 6px;
}
.product-price-action {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  color: #a5a5a5;
  text-decoration: line-through;
  position: relative;
  left: 75px;
  top: -16px;
}
.product-price-sale {
  background-color: #46a358;
  color: #ffffff;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  height: 29px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -355px;
}
.main-wrap {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 46px;
  max-width: 1200px;
}

/* STYLES FOR PAGE LIST  */

.page-menu {
  width: 1200px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  justify-content: end;
}
.page-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.page-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.page-link {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  color: #3d3d3d;
}
.page-link:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #46a358;
  color: #ffffff;
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  border: none;
  border-radius: 4px;
}
.arrow-right2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STYLES FOR UNDER MAIN PAGE */

.flowers-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 138px;
}
.summer-cactus,
.styling-trends {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  text-align: right;
  background-color: #fbfbfb;
  width: 586px;
  height: 250px;
}
.flower-text {
  margin-top: 37px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flower-title {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 9px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.flower-description {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
  color: #727272;
  width: 292px;
}
.find-more {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 140px;
  height: 40px;
  border-radius: 6px;
  background-color: #46a358;
  color: #ffffff;
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.right-arrow-white {
  padding-top: 2px;
}
.gross-flower-1,
.gross-flower-2 {
  position: relative;
  top: -50px;
  width: 287px;
  height: 292px;
}

/* STYLES FOR BLOG POSTS */

.blog-posts {
  max-width: 1200px;
  margin: 0 auto;
}
.blog-posts-cards {
  display: flex;
  flex-direction: row;
  gap: 44px;
  margin-top: 35px;
  margin-bottom: 68px;
  max-width: 268px;
}
.blog-posts-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-post-image {
  width: 268px;
  height: 195.17px;
}
.blog-posts-discription {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.blog-posts-title {
  font-family: Cera Pro;
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
}
.blog-posts-text {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727272;
}
.date-blog-post {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #46a358;
  margin-top: 4px;
}
.name-blog-posts {
  font-family: Cera Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #3d3d3d;
  margin-top: 4px;
}
.text-blog-post-cards {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #727272;
  margin-top: 4px;
}
.read-more-blog-post {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #3d3d3d;
  margin-top: 9px;
}
.read-more-blog-post:hover {
  color: #46a358;
}
.right-arrow-black {
  padding-top: 1px;
}
.right-arrow-black:hover {
  fill: green;
}

/* STYLES FOR REGISTRATION PAGE */

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  width: 500px;
  height: 656px;
  border-bottom: 10px solid #46a358;
  align-content: center;
  cursor: pointer;
}
.close-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 13px;
}
.reg-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
.login-link {
  font-family: Cera Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  padding-right: 12px;
  text-decoration: none;
  color: #3d3d3d;
}
.separator {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 250;
  line-height: 16px;
  color: #3d3d3d;
  text-decoration: none;
}
.register-link {
  font-family: Cera Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #46a358;
  padding-left: 10px;
  text-decoration: none;
}
.intro-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 14px;
  padding-right: 45px;
}
.intro-text p {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.input-field {
  font-family: Cera Pro;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  color: #a5a5a5;
  padding-left: 14px;
  font-size: 14px;
}
.password-wrapper {
  position: relative;
}
.password-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.submit-button {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background-color: #46a358;
  border: none;
  color: #ffffff;
  margin-top: 21px;
}
.divider {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 27px;
}
.divider-line {
  width: 95px;
  border: 1px solid #eaeaea;
  margin: 10px;
}
.social-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.social-button {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  width: 300px;
  height: 45px;
  color: #727272;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 5px;
}
