@font-face {
    font-family: "inter_i";
    src:
      url("../Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  }
  @font-face {
    font-family: "poppins";
    src:
      url("../Fonts/Poppins/Poppins-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "space";
    src:
      url("../Fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("ttf"),
  }
 
