@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
.header-banner {
  background-color: #F3F5F7;
  position: relative;
  font-family: "Inter";
}

.header-banner-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 0px;
}

.header-banner-block__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #343839;
}

.your-class {
  position: relative;
}

.slider-image {
  height: 536px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-prev {
  background-color: #fff !important;
  left: 30px !important;
  z-index: 10;
  width: 52px !important;
  height: 52px !important;
  border-radius: 30px;
  color: #6C7275 !important;
}

.slick-next {
  background-color: #fff !important;
  right: 30px !important;
  z-index: 10;
  width: 52px !important;
  height: 52px !important;
  border-radius: 30px;
}

.slick-next:before {
  color: #6C7275 !important;
}

.slick-prev:before {
  color: #6C7275 !important;
}

.header-banner-block__link {
  display: flex;
  align-items: center;
}

.header-banner-block__shop {
  color: #377DFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.header-banner-block__exit {
  position: absolute;
  top: 14px;
  right: 20px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__btn {
  cursor: pointer;
  background-color: #fff;
  display: none;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #6C7275;
}

.nav-item__link:hover {
  color: #141718;
}

.icon-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-bar-list {
  display: flex;
  gap: 16px;
}

.icon-bar-elipse {
  display: flex;
  position: relative;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.icon-bar-elipse__num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 18px 32px;
  }
}
@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }
  .header-logo__btn {
    display: block;
    padding: 7px 9px;
  }
}
@media screen and (max-width: 500px) {
  .header-banner-block__link {
    display: none;
  }
  .header-banner-block__text {
    font-size: 12px;
  }
  .icon-bar-item:nth-child(-n+2) {
    display: none;
  }
}
.main-banner {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.main-banner__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 40px 0;
}

.main-content__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -2px;
  color: #141718;
  font-family: "Poppins";
  max-width: 643px;
}

.main-content__symbol {
  color: #6C7275;
}

.main-content__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6C7275;
  max-width: 424px;
  padding-right: 30px;
  font-family: "inter";
}

@media screen and (max-width: 1200px) {
  .main-banner__image {
    padding: 0px 32px;
  }
  .main-banner-right {
    right: 64px;
  }
  .main-banner-left {
    left: 64px;
  }
  .main-content {
    padding: 0px 32px;
  }
}
@media screen and (max-width: 950px) {
  .main-content {
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    align-items: start;
  }
  .main-content__title {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .main-content__text {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media screen and (max-width: 800px) {
  .main-banner-right {
    display: none;
  }
  .main-banner-left {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .main-content__title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
  }
  .main-content__text {
    padding-right: 0px;
  }
}
@media screen and (max-width: 370px) {
  .main-content__title {
    font-size: 33px;
    line-height: 40px;
  }
  .main-content__text {
    padding-right: 0px;
    font-size: 14px;
    line-height: 22px;
  }
}
.room {
  display: flex;
  gap: 24px;
  position: relative;
}

.room-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Poppins";
}

.living-room__image {
  max-width: 100%;
  max-height: 100%;
}

.room-group-bed__image {
  max-width: 100%;
  max-height: 100%;
}

.room-group-kitchen__image {
  max-width: 100%;
  max-height: 100%;
}

.living-room {
  font-family: "Poppins";
  position: relative;
}

.living-room__title {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  color: #141718;
  margin-bottom: 12px;
}

.room-group-bedroom__title {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  color: #141718;
  margin-bottom: 12px;
}

.living-room-group {
  position: absolute;
  top: 7%;
  left: 9%;
}

.living-room-link {
  vertical-align: text-top;
  border-bottom: 1px solid #141718;
}

.living-room-link__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
}

.room-group-bed {
  position: relative;
}

.room-group-bedroom {
  position: absolute;
  bottom: 14%;
  left: 9%;
}

.room-group-kitchen {
  position: relative;
}

.room-group-kitchen_group {
  position: absolute;
  bottom: 14%;
  left: 9%;
}

@media screen and (max-width: 1200px) {
  .living-room__title {
    font-size: 30px;
  }
  .living-room-link__text {
    font-size: 14px;
  }
  .room-group-bedroom__title {
    font-size: 30px;
  }
  .room {
    padding: 0px 32px;
  }
}
@media screen and (max-width: 800px) {
  .living-room__title {
    font-size: 22px;
    margin-bottom: 0;
  }
  .living-room-link__text {
    font-size: 12px;
    margin-bottom: 0;
  }
  .room-group-bedroom__title {
    font-size: 22px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .room {
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
  }
  .living-room-link__text {
    font-size: 14px;
  }
  .room-group-kitchen_group {
    bottom: 10%;
    left: 7%;
  }
  .room-group-bedroom {
    bottom: 10%;
    left: 7%;
  }
  .living-room-group {
    top: 6%;
    left: 8%;
  }
}
.product-title {
  display: flex;
  justify-content: space-between;
  padding: 48px 0px;
}

.product-title__main {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  color: #141718;
  max-width: 150px;
}

.product-title-link__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
}

.product-title-link {
  display: flex;
  align-items: center;
  padding-top: 55px;
  border-bottom: 1px solid #141718;
}

@media screen and (max-width: 1200px) {
  .product-title {
    padding: 48px 32px;
  }
}
@media screen and (max-width: 600px) {
  .product-title-link {
    display: none;
  }
  .product-title {
    padding: 32px 32px;
  }
  .product-title__main {
    font-size: 32px;
  }
}
.product-block-list {
  display: flex;
  gap: 24px;
}

.section-container {
  margin: auto;
  display: flex;
  align-items: center;
}

.product-list-container {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #333 #fff;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.product-card {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.product-card:hover .product-card-button {
  display: block;
}

.product-card:hover .product-card-like {
  display: block;
}

.product-card-icon {
  max-width: 88px;
  max-height: 16px;
  margin-bottom: 4px;
}

.product-card-text {
  color: #141718;
  font-family: "inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 4px;
}

.product-card-link {
  margin-bottom: 12px;
}

.product-card-price {
  color: #141718;
  font-family: "inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 48px;
}

.product-card-button {
  cursor: pointer;
  width: 230px;
  height: 46px;
  background-color: #141718;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  top: 287px;
  left: 16px;
  display: none;
}

.product-card-new {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  position: absolute;
  background-color: #fff;
  padding: 4px 14px;
  border-radius: 4px;
  top: 16px;
  left: 16px;
}

.product-card-sale {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  position: absolute;
  background-color: #38CB89;
  padding: 4px 14px;
  border-radius: 4px;
  top: 48px;
  left: 16px;
}

.product-card-like {
  background-color: #fff;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 7px 5px 7px;
  border-radius: 18px;
  display: none;
}

.new-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #FF5733;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.product-list-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.product-list-container::-webkit-scrollbar-thumb {
  background: #333;
}

.product-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-list-container::-webkit-scrollbar-track {
  background: #ccc;
}

.scroll-icon {
  font-size: 2em;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .section-container {
    padding: 0 32px;
  }
}
.preference {
  display: flex;
  gap: 24px;
  padding: 48px 0px;
}

.preference-item {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 48px 0 48px 32px;
  min-width: 262px;
  background-color: #F3F5F7;
}

.preference-item__image {
  height: 48px;
  width: 48px;
  padding-bottom: 16px;
}

.preference-item__title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
  padding-bottom: 8px;
}

.preference-item__text {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6C7275;
}

@media screen and (max-width: 1200px) {
  .preference {
    flex-wrap: wrap;
    padding: 48px 32px;
    justify-content: center;
  }
}
@media screen and (max-width: 620px) {
  .preference-item {
    min-width: 50px;
    width: 142px;
    padding: 32px 16px;
  }
  .preference-item__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
  .preference-item__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .preference {
    gap: 8px;
    padding: 48px 0;
  }
}
.sale-banner-image__item {
  height: 532px;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sale-banner {
  background-color: #F3F5F7;
  position: relative;
}

.sale-banner-info__off {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #377DFF;
}

.sale-banner-info__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  color: #141718;
}

.sale-banner-info__text {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #141718;
}

.sale-banner-info__title {
  max-width: 355px;
  margin: 16px 0px;
}

.sale-banner-info-adaptive {
  display: none;
}

.sale-banner-info__text {
  max-width: 400px;
  margin-bottom: 24px;
}

.sale-banner-link {
  display: flex;
  max-width: 100px;
  gap: 4px;
  border-bottom: 1px solid #141718;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
}

.sale-banner-info {
  padding-left: 72px;
  position: absolute;
  top: 140px;
  left: 50%;
}

@media screen and (max-width: 1200px) {
  .sale-banner-info {
    display: none;
  }
  .sale-banner-info-adaptive {
    display: block;
    background-color: #F3F5F7;
    padding: 60px 32px;
  }
  .sale-banner-image__item {
    height: 532px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .sale-banner-info__title {
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
  }
  .sale-banner-info__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
.articles {
  max-width: 1120px;
  margin: 0 auto;
}

.articles-header__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  color: #141718;
}

.articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 40px 0;
}

.articles-header-link {
  display: flex;
  gap: 4px;
  border-bottom: 1px solid #141718;
}

.articles-header-link__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
}

.articles-list {
  display: flex;
  justify-content: space-between;
}

.articles-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.articles-item__image {
  width: 100%;
  height: 100%;
}

.articles-item__text {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
  padding: 24px 0 8px 0;
}

.articles-item-link {
  display: flex;
  gap: 4px;
  border-bottom: 1px solid #141718;
  width: 105px;
}

@media screen and (max-width: 1000px) {
  .articles-item__text {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
  }
  .articles-header-link__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}
@media screen and (max-width: 800px) {
  .articles-list {
    flex-direction: column;
    padding: 0 32px;
  }
  .articles-header {
    padding: 40px 32px 40px 32px;
  }
  .articles-item {
    padding-bottom: 24px;
  }
  .articles-header__title {
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.6000000238px;
  }
  .articles-header {
    align-items: baseline;
  }
}
.footer-top {
  height: 360px;
  width: 100%;
  background-image: url(../Image/Footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 101px;
}

.footer-top__title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.400000006px;
  color: #141718;
  padding-bottom: 8px;
}

.footer-top__text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #141718;
  padding-bottom: 32px;
}

.footer-top-form {
  border-bottom: 1px solid #6C7275;
  display: flex;
}

.footer-top-form__input {
  width: 450px;
  height: 52px;
  background-color: #F3F5F7;
  margin: 0 8px;
  padding: 0 15px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  color: #6C7275;
}

.footer-button {
  background-color: #F3F5F7;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  color: #6C7275;
  cursor: pointer;
}

.footer-top-form__input:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .footer-top {
    background-image: none;
    background-color: #F3F5F7;
  }
  .footer-top-form {
    margin: 0 32px;
  }
  .footer-top-form__input {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .footer-top__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.6000000238px;
  }
  .footer-top__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 32px 32px 32px;
    text-align: center;
  }
}
.footer-bot {
  height: 249px;
  background-color: #141718;
}

.footer-bot-logo {
  display: flex;
  align-items: center;
}

.footer-bot-logo__image {
  padding-right: 32px;
  border-right: 1px solid #6C7275;
}

.footer-bot-logo__text {
  padding-left: 32px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FEFEFE;
}

.footer-bot-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer-bot-nav {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 49px 0;
}

.footer-bot-link {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FEFEFE;
}

.footer-bot-copyright {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  border-top: 1px solid #6C7275;
}

.footer-bot-copyright-list {
  display: flex;
  gap: 28px;
}

.footer-bot-copyright-item {
  display: flex;
  gap: 28px;
}

.footer-bot-copyright__text {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #F3F5F7;
}

.footer-bot-copyright__link {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #FEFEFE;
}

.footer-bot-social-list {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .footer-bot-copyright {
    padding: 16px 32px;
  }
  .footer-bot-nav {
    padding: 80px 32px 49px 32px;
  }
}
@media screen and (max-width: 850px) {
  .footer-bot-nav {
    flex-direction: column;
    gap: 20px;
    padding: 48px 32px 40px 32px;
  }
  .footer-bot-copyright {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .footer-bot-logo {
    flex-direction: column;
  }
  .footer-bot-logo__text {
    padding-left: 0;
  }
  .footer-bot-logo__image {
    padding-right: 0;
    padding-bottom: 33px;
    border: none;
  }
  .footer-bot-list {
    flex-direction: column;
    align-items: center;
  }
  .footer-bot {
    height: 100%;
  }
  .footer-bot-copyright-list {
    flex-direction: column;
    align-items: center;
  }
  .footer-bot-nav {
    gap: 40px;
  }
  .footer-bot-copyright {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 34px 32px 72px 32px;
  }
  .footer-bot-copyright-list {
    flex-direction: column-reverse;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */