.main-box {
  width: 1200px;
  height: 55px;
  margin: 30px 120px 12px 120px;
  text-align: center;
  border-bottom: 0.3px solid #46a35880;
}
.logo {
  width: 150px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
}
.link {
  display: inline-block;
  vertical-align: top;
}
.link1 {
  width: 47px;
  margin-right: 50px;
  text-align: center;
}
.link2 {
  width: 40px;
  margin-right: 50px;
  text-align: center;
}
.link3 {
  width: 79px;
  margin-right: 50px;
  text-align: center;
}
.link4 {
  width: 45px;
  margin-right: 50px;
  text-align: center;
}
.menu {
  height: 45px;
  margin: 7px 291px 12px 229px;
  display: inline-block;
  vertical-align: top;
}
.menu ul li a {
  color: #000;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  padding-bottom: 25px;
  margin-right: 50px;
}
.menu ul li a:hover {
  font-weight: 600;
  border-bottom: 3px solid #46a358;
}
.btn-login {
  width: 100px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
  background-color: #46a358;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
}
.login-text {
  width: 42px;
  height: 20px;
}
.btn-login img {
  width: 20px;
}
.main-body {
  width: 1200px;
  height: 450px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  margin: 12px 120px 12px 120px;
}
.main-text {
  display: inline-block;
  vertical-align: middle;
  width: 550px;
  height: 380px;
  margin: 68px 0 0 43px;
}
.main-banner {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: 450px;
  margin-left: 100px;
}
.head-title {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #3d3d3d;
  text-transform: uppercase;
}
.main-title {
  font-family: Cera Pro;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
  color: #3d3d3d;
  text-transform: uppercase;
  margin-top: 7px;
}
.planet {
  color: #46a358;
}
.text {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #727272;
  margin-top: 5px;
}
.btn-main {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 140px;
  height: 40px;
  top: 325px;
  left: 41px;
  border-radius: 6px;
  background-color: #46a358;
  margin-top: 44px;
  text-transform: uppercase;
  
}

/* Styles for registration page */

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 500px;
  height: 656px;
  border-bottom: 10px solid #46a358;
  align-content: center;
  cursor: pointer;
}

.close-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 13px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.login-link {
  font-family: Cera Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  padding-right: 12px;
  text-decoration: none;
  color: #3d3d3d;
}

.separator {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 250;
  line-height: 16px;
  color: #3d3d3d;
  text-decoration: none;
}

.register-link {
  font-family: Cera Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #46a358;
  padding-left: 10px;
  text-decoration: none;
}

.intro-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 14px;
  padding-right: 45px;
}

.intro-text p {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-field {
  font-family: Cera Pro;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  color: #a5a5a5;
  padding-left: 14px;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.submit-button {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background-color: #46a358;
  border: none;
  color: #ffffff;
  margin-top: 21px;
}

.divider {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 27px;
}

.divider-line {
  width: 95px;
  border: 1px solid #eaeaea;
  margin: 10px;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.social-button {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  width: 300px;
  height: 45px;
  color: #727272;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 5px;
}
